@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.btn-primary {
    background-color: #F47522 !important; 
    color: #fff !important;
    border: none !important;
 }

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    color: #19345E;
}

.navbar {
    background-color: #ffffff !important;
    box-shadow: 0px 7px 15px #ebebeb43;
    padding: 20px !important;
}

@media (min-width: 1099px){
    .navbar-collapse {
        flex: none !important;
    }
}

.nav-link {
    color: #19345E !important;
    font-weight: 600;
    margin-left: 30px;
}

.nav-link.active {
    color: #F47522 !important;
}

button.navbar-toggler {
    color: #19345E !important;
}

.page {
    padding-top: 0; /* Add this line */
    height: 100vh;
    width: 100%;
    background-image: url('asset/bg-img.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.page .content {
    max-width: 1220px;
    height: 100vh;
    padding: auto ;
    align-items: center;
    margin: 0 auto;
    display: flex;
}

.page .content img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
}

.page .content .named {
    margin-left: 80px;
    line-height: 40px;
}

.page .content .named h6 {
    color: #19345E;
    font-size: 22px;
    font-weight: 600;
    margin: 20px 0;
}
.page .content .named h1 {
    color: #19345E;
    font-size: 60px;
    font-weight: 700;
    margin: 20px 0;
}
.page .content .named h3 {
    color: #19345E;
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;
}
.page .content .named .btn {
    background: #F47522;
    padding:  10px 20px;
    color: #fff;
    border: none;
    border-radius: 30px;
}

.abouts {
    padding-top: 0; /* Add this line */
    width: 100%;
    height: 100%;
}

.abouts .about {
    height: 132px;
    background-color: #F4F7FC;
    margin-top: 90px;

}
.abouts .about h3{
    max-width: 1220px;
    height: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    font-size: 50px;
    color: #19345E;
}

.abouts .content {
    position: relative;
    max-width: 1220px;
    margin: 30px auto;
    
}

.abouts .content .identity ul {
    line-height: 10px;
}

.abouts .content .identity {
    position: relative;
}

.abouts .content .image-identity  .image_one{
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}
.abouts .content .image-identity  .image_two{
    position: absolute;
    top: 180px;
    right: 180px;
    width: 150px;
    object-fit: cover;
}

.abouts .content p {
    line-height: 25px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px 20px;
}

.contact {
    width: 100vw;
}

.contact .image {
    width: 90%;
    height: 100vh;
    position: relative;
    margin: 0;
}

.contact .image-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact textarea {
    height: 150px;
}

@media (max-width: 767px){
    .contact .field {
        padding: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1099px){
    .contact .field {
        padding: 10px 20px 10px 0px;
    }
    .contact .image-logo {
        position: absolute;
        top: 35%;
        left: 20%;
        z-index: 100;
    }
    .contact .image .backDrop {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #19345E;
        opacity: 0.4;
        top: 0;
        left: 0;
        z-index: 99;
    }
}

@media (min-width: 1099px){
    .contact .field {
        padding: 0 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .contact .image-logo {
        position: absolute;
        top: 35%;
        left: 35%;
        z-index: 100;
    }

    .contact .image .backDrop {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #19345E;
        opacity: 0.4;
        top: 0;
        left: 0;
        z-index: 99;
    }
}

.contact h3 {
    color: #19345E;
}

.contact label {
    margin-top: 10px;
    color: #19345E;
}

.contact .star::after {
    content: '*';
    color: red;
}

.contact input {
    margin-top: 5px;
}

.contact .btn {
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px 20px;
}

.experience {
    padding-top: 0; /* Add this line */
    width: 100%;
    height: 100%;
}

.experience .about {
    height: 132px;
    background-color: #F4F7FC;
    margin-top: 90px;

}
.experience .about h3{
    max-width: 1220px;
    height: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    font-size: 50px;
    color: #19345E;
}

.experience .content {
    margin-top: 30px;
}

.experience .content .line {
    position: relative;
    border-left: 3px solid #e7e7e7;
    height: 100%;
}
.experience .content .dotted {
    position: absolute;
    top: 50%;
    left: -8px;
    background-color: #19345E;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

@media (max-width: 767px){
    .experience .content .card h4 {
        font-size: 16px;
        font-weight: 700;
    }
    .experience .content .card .text-muted {
        font-size: 12px;
        font-weight: 600;
    }
    .experience .content .card p {
        font-size: 14px;
        font-weight: 400;
    }
}

@media (max-width: 1099px) and (min-width: 768px){
    .experience .content .card h4 {
        font-size: 20px;
        font-weight: 700;
    }
    .experience .content .card .text-muted {
        font-size: 14px;
        font-weight: 600;
    }
    .experience .content .card p {
        font-size: 16px;
        font-weight: 400;
    }
}

.experience .content .card {
    border: 2px solid #E2E2E2;
    padding: 5px 20px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.experience .content .card.active {
    border: 2px solid #E2E2E2;
    padding: 5px 20px;
    border-radius: 8px;
    box-shadow: 0px 7px 15px #C3C3C343;
}
.experience .content .card h4{
    margin: 10px 0;
}
.experience .content .card .text-muted{
    color: #ACACAC;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 2px solid #eeeeee;
}

footer {
    margin-top: 150px;
    background-color: #19345E;
    color: #fff;
}

footer .content img {
    width: 150px;
}

footer .foot {
    align-items: center;
    padding: 40px 0;
    min-height: 100px;
}

@media (max-width: 991px) {
    footer .content .copyright {
        padding-left: 0;
    }
    footer .content .sosial-media {
        padding-left: 0;
    }
}

@media (min-width: 991px) {
    footer .content .copyright {
        padding-left: 150px;
        border-left: 1px solid #F4F7FC;
    }
    footer .content .sosial-media {
        padding-left: 70px;
    }
}


footer .content .sosial-media img {
    width: 20px;
    margin-right: 10px;
}

